.chat-message {
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    display: flex;
    max-width: 70%;
    align-items: center;
}
.user-message {
    background-color: #e0f7fa;
    align-self: flex-end;
}

.system-message {
     background-color: #f0f0f0;
    align-self: flex-start;
}

.system-icon-container {
     margin-right: 10px;
    display: flex;
     align-items: center;
}

.system-icon {
    width: 30px;
    height: 30px;
    animation: flapping 1s linear infinite;
}

@keyframes flapping {
    0% { transform: translateY(0) rotate(0deg); }
    50% { transform: translateY(-5px) rotate(5deg); }
    100% { transform: translateY(0) rotate(0deg);}

}